<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">

    <h3>Create Your Will:</h3>

    <form class="form new-will-form">
      <div class="form-group">
        <label for="will-title">Will Title:</label>
        <input class="form-input" type="text" id="will-title" name="will-title"/>
      </div>
      <div class="form-group">
        <label for="item-desc">Items:</label>
        <textarea class="form-input will-item" id="item-desc" value="{{item.content}}"></textarea>
        <textarea class="form-input will-item" id="item-desc" value="{{item.content}}"></textarea>
        <textarea class="form-input will-item" id="item-desc" value="{{item.content}}"></textarea>
        <textarea class="form-input will-item" id="item-desc" value="{{item.content}}"></textarea>
        <textarea class="form-input will-item" id="item-desc" value="{{item.content}}"></textarea>
        <textarea class="form-input will-item" id="item-desc" value="{{item.content}}"></textarea>
        <textarea class="form-input will-item" id="item-desc" value="{{item.content}}"></textarea>
        <textarea class="form-input will-item" id="item-desc" value="{{item.content}}"></textarea>

      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>

  </div>

  {{#if wills.length}}
  <div class="col-md-6 will-list">
    <h3>Your Will:</h3>

    {{#each wills as |will|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h1 class="title">
          <a href="/will/{{will.id}}">{{will.title}}</a>
        </h1>

      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{will.id}}">DELETE</button>
        <a class="btn btn-sm btn-danger" href="/edit/{{will.id}}">EDIT</a>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="/js/dashboard.js"></script>
{{#if wills.length}}
<script src="/js/editDelete.js"></script>
{{/if}}
