{{#if logged_in}}
<div class="card" data-blogId="{{willData.id}}">
    <div class="text-center">
        <h2 class="card-header">
            {{title}}
        </h2>
        <p>
            {{description}}
        </p>
        <p>
            Created by {{user.name}} on {{format_date date_created}}
        </p>
        {{#each itemData}}
        {{>items}}
        {{/each}}
  

    </div>
</div>
<script src="/js/logout.js"></script>
{{!-- <script src="/js/items.js"></script> --}}
{{/if}}
