{{#if logged_in}}
<div class="card" data-willId="{{willData.id}}">
    <div class="text-center">
        <h2 class="card-header">
            {{title}}
        </h2>
        <p>
            {{description}}
        </p>
        <p>
            Created by {{user.name}} on {{format_date date_created}}
        </p>
      <div>
            {{#each itemData}}
                <div>
                    <div>{{this.content}}</div>
                    <br>
                    <div>added: {{this.createdAt}}</div>
                </div>
            {{/each}}
        </div>

    </div>
</div>
<script src="/js/logout.js"></script>
{{!-- <script src="/js/items.js"></script> --}}
{{/if}}
