{{#if logged_in}}
<div data-willId="{{willData.id}}">

    <div class="card text-center">

        <ul class="list-group will-card">
            <li class="text-dark list-group-item">
                <h4>{{title}}</h4>
                <p>
                    Created by {{user.name}} on {{format_date date_created}}
                </p>
            </li>
            {{#each itemData}}
            <li class="list-group-item">
                {{this.content}}
            </li>
            {{/each}}
        </ul>
   
    </div>
</div>
<script src="/js/logout.js"></script>
{{/if}}